<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="RPDP CMS">
    <meta name="author" content="Justin Guyton, Vish Reddy, Jesse Huang, Danny Weiner"> {% include 'main/link.html' %}

    <title>Home -- RPDP</title>
    {% include 'main/navbar.html' %}
</head>

<body>
    <div class="container">
        <h1>Welcome to RPDP! This is just the beginning!</h1>
        
    </div>


    <div class="container">

    </div>

    <div class="divider"></div>
    {% include 'main/footer.html' %}



</body>

</html>