<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="RPDP CMS">
    <meta name="author" content="Justin Guyton, Vish Reddy, Jesse Huang, Danny Weiner"> {% include 'main/link.html' %}

    <title>Home -- RAplus+</title>
    {% include 'main/navbar.html' %}
</head>

<body>
    <div class="container">
        <h1>Welcome to RAplus+! Let's make your job a little easier.</h1>
        <div class="row">
            <div class="col s12 m4 l4">
                <img src="" alt="Program Descriptions">
                <p>RAplus+ allows you to submit and read descriptions and reviews of your programs for the floor.</p>
            </div>
            <div class="col s12 m4 l4">
                <img src="" alt="One-on-Ones">
                <p>One-on-one interactions with residents can be logged so that you can keep track of how they're doing.</p>
            </div>
            <div class="col s12 m4 l4">
                <img src="" alt="Program Data">
                <p>Data on programs and types of programs that work can be seen, depending on access level."</p>
            </div>
        </div>
        <!--<img src="https://wallpaperbrowse.com/media/images/464030.jpg" height="600px" width="1000px" align="center">-->
    </div>


    <div class="container">

    </div>

    <div class="divider"></div>
    {% include 'main/footer.html' %}



</body>

</html>
