<!DOCTYPE html>
<html>

<head>
    <title></title>
    {% include 'main/link.html' %}

    <title>Login</title>
    {% include 'main/navbar.html' %}
</head>

<body>
    <div class="container">
        <h3>Login</h3>
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field">
                        <input id="email" type="email" class="validate">
                        <label for="email">Email Address</label>
                    </div>
                    <div class="input-field">
                        <input id="password" type="password" class="validate">
                        <label for="password">Password</label>
                    </div>
                </div>
                <a class="waves-effect waves-light btn" id="loginSubmit">Submit</a>
            </form>
        </div>
    </div>
    <div class="divider"></div>
    {% include 'main/footer.html' %}
</body>

</html>
