<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="RPDP CMS">
    <meta name="author" content="Justin Guyton, Vish Reddy, Jesse Huang, Danny Weiner"> {% include 'link.html' %}

    <title>Home -- RPDP</title>
    {% include 'navbar.html' %}
</head>

<body>
    <div class="container">
        <h1>Welcome to RPDP! This is just the beginning!</h1>
        <img src="https://scontent-dft4-2.xx.fbcdn.net/v/t31.0-8/16299873_1427898880576140_8149694306854137712_o.jpg?oh=e5e7571d7cdeca8a13753f4adbbe5042&oe=5934CE1E" height="400px" width="400px" align="center">
    </div>


    <div class="container">

    </div>

    <div class="divider"></div>
    {% include 'footer.html' %}



</body>

</html>