<!DOCTYPE html>
<html>

<head>
    <title></title>
    {% include 'link.html' %}

    <title>Login</title>
    {% include 'navbar.html' %}
</head>

<body>
    <div class="container">
        <h3>Login</h3>
        <div class="row">
            <form class="col s12" method="post" action="/post_login">
                <div class="row">
                    <div class="input-field">
                        <input id="email" name = "email" type="email" class="validate">
                        <label for="email">Email Address</label>
                    </div>
                    <div class="input-field">
                        <input id="password" name = "password" type="password" class="validate">
                        <label for="password">Password</label>
                    </div>
                </div>
                <input type="submit" class="waves-effect waves-light btn" id="loginSubmit" name="login"/>
                <label for="loginSubmit">Log in</label>
            </form>
        </div>
    </div>
    <div class="divider"></div>
    {% include 'footer.html' %}
</body>

</html>
