<!DOCTYPE html>
<html>

<head>
    {% include 'link.html' %}

    <title>Submit Program</title>
    {% include 'navbar.html' %}
</head>

<body>
    <div class="container">
        <h3>Submit Program</h3>
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s6">
                        <input id="name" type="text" class="validate">
                        <label for="name">Name</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="location" type="text" class="validate">
                        <label for="location">Location</label>
                    </div>
                </div>
                <div class="row">
                  <div class="input-field col s6">
                      <input id="date" type="date" class="datepicker">
                      <label for="date">Date</label>
                  </div>
                  <div class="input-field col s6">
                      <input id="time" type="text">
                      <label for="time">Time</label>
                  </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="description" class="materialize-textarea"></textarea>
                        <label for="description">Description</label>
                    </div>
                </div>
                <a class="waves-effect waves-light btn" id="loginSubmit">Submit</a>
                <!-- <input type="reset"> -->
            </form>
        </div>
    </div>
</body>

<script type="text/javascript">
  $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 2 // Creates a dropdown of 2 years to control year
  });
</script>

</html>
