<!DOCTYPE html>
<html>

<head>
    {% include 'main/link.html' %}

    <title>Submit One-on-One</title>
    {% include 'main/navbar.html' %}
</head>

<body>
    <div class="container">
        <h3>Submit One-on-One</h3>
        <div class="row">
            <form class="col s12" method="post" action="/submit_1-1">
                <div class="row">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">perm_contact_calendar</i>
                        <input id="resident_name" name="resident_name" type="text" class="validate" required>
                        <label for="resident_name">Resident Name</label>
                    </div>
                    <div class="input-field col s6">
                        <i class="material-icons prefix">vpn_key</i>
                        <input id="room_number" name="room_number" type="text" class="validate">
                        <label for="room_number">Room Number</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">live_help</i>
                        <input id="recommended_resources" name="recommended_resources" type="text" class="validate">
                        <!-- Make select boxes -->
                        <label for="recommended_resources">Resources Recommended</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">warning</i>
                        <input id="concerns" name="concerns" type="text" class="validate" required>
                        <label for="concerns">Concerns</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">message</i>
                        <textarea id="notes" name="notes" class="materialize-textarea" required></textarea>
                        <label for="notes">Notes</label>
                    </div>
                </div>
                <input type="submit" name="submit" class="btn waves-effect waves-green blue darken-3" />
                <button class="btn waves-effect waves-red blue darken-3" type="reset" name="/submit">Reset</button>
            </form>
        </div>
    </div>

    <div class="divider"></div>
    {% include 'main/footer.html' %}

</body>

<script type="text/javascript">
    $('.datepicker').pickadate({
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 1 // Creates a dropdown of 2 years to control year
    });
</script>

</html>
